<div class="container zeroTop lead" style="margin-top: 0px; padding-top: 55px">
  <div class="row">
    <h2 class="center">About Me</h2>
    <p class="center mb-5">My introduction</p>
    <div class="col-lg-2">
      <!--  -->
    </div>
    <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-center">
      <div id="box">
        <img
          class="img-thumbnail"
          src="../../../assets/tinywow_profile_photo_27491504__1_-removebg-preview.png"
        />
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-12 mt-2">
      <p>
        Web deverloper with extensive knowledge and year of learning and
        practice experience working in web technologies and backend developer.
        With a passion for continuous learning, I stay up-to-date with the
        latest trends and technologies in web development. I am eager to
        contribute my skills, creativity, and dedication to an organization
        where I can grow as a web developer and make a meaningful impact.
      </p>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-4">
          <p>Final (4<sup>th</sup>) <br />Year student</p>
        </div>
        <div class="col-lg-3 col-md-3 col-3">
          <p>02 <br />Projects</p>
        </div>
        <div class="col-lg-3 col-md-3 col-3">
          <p class="">01<br />Internship's</p>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div (click)="downloadPDF()" class="mybtn mt-3 mb-5">
          Download CV <i class="bi bi-download"></i>
        </div>
      </div>
    </div>
  </div>
</div>
