#box{
  height: 250px;
  width: 270px;
  border-radius: 5%;
  background-color:aliceblue;
  align-items: center;
}

h2{
  font-weight: 600;
  font-size:30px;
}
p{
  font-weight: 350;
}
img{
  height: 250px;
  width: 270px;
    padding-top: 4px;
    border-top-right-radius: 178px;
    opacity: 0.9;
    background-color:#816eae;

}
h2{
  font-weight: 600;
  font-size:30px;
}
p{
  font-weight: 350;
}
.mybtn{
  font-weight: 400;
  color: aliceblue;
  background-color: blueviolet;
  width: 186px;
  border-radius: 10px;
  padding: 7px;
  text-align: center;
}


i{
  color: aliceblue;
  background-color: blueviolet;
}

p{
  font-size: 15px;
  font-family: system-ui;
  font-weight: normal;
}


.mybtn{
  font-weight: 400;
  color: aliceblue;
  background-color: blueviolet;
  width: 186px;
  border-radius: 10px;
  padding: 7px;
  text-align: center;
}


i{
  color: aliceblue;
  background-color: blueviolet;
}

.center{
  text-align: center;

}
