<div class="container-fluid bg">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-12 mt-3">
      <div class="d-flex align-items-end flex-column" style="height: 83px">
        <a href="#home">
          <div class="Icon p-2">G.Y</div>
        </a>
        <a href="#home">
          <div class="name p-2">Gautam Yadav</div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-12 mt-3">
      <div class="d-flex justify-content-evenly">
        <!-- <p>Projects</p>
        <p>Contact Me</p> -->
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-12 mt-3">
      <div class="d-flex justify-content-start">
        <a href="https://www.linkedin.com/in/gautam-yadav-15a8b721a/"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a href="https://github.com/GautamYadav19">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.instagram.com/ll._.gautam._.ll/">
          <i class="bi bi-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <div class="black-line lead"><i>made by G.Y</i></div>
    </div>
  </div>
</div> -->

<!-- <div class="d-flex justify-content-evenly">
  <div class="align-items-center">
    <h3>Gautam Yadav</h3>
    <p>FullStack Developer</p>
  </div>
  <p>Projects</p>
  <p>Contact Me</p>
  <i>Icon1</i>
  <i>Icon1</i>
  <i>Icon1</i>
</div> -->
