div,p,i{
  background-color:blueviolet ;

}
a{
  text-decoration: none;
  background-color: blueviolet;
}
i{
  font-size:x-large;
  margin-left: 10px;
  color: aliceblue;
}
p{
  font-size:larger;
  font-weight: 400;
  color: aliceblue;
}
.name{

  font-size:small;
  font-weight: 400;
  color: aliceblue;
}
.Icon{

  margin-right: 23px;
  font-weight: 600;
  font-size:20px;
  color: blueviolet;
  background-color: aliceblue;
  border-radius: 50% ;

}
