<div style="margin-top: 120px" class="container">
  <div class="row">
    <div class="col-lg-3 col-md-2 col-2">
      <!--  -->
    </div>
    <div class="col-lg-4 col-md-4 col-12 lead">
      <h2>Hi,I'am Gautam</h2>
      <h6>FullStack developer</h6>
      <p>
        High level expericence in web desgin and development knowledge
        producting quality work.
      </p>
      <!-- <div class="mybtn mb-3">
        <a routerLink="/contactme"></a>Contact Me
        <i class="bi bi-cursor">
        ></i>
      </div> -->
      <app-pop-up-contact-me></app-pop-up-contact-me>
    </div>

    <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-center mb-3">
      <!-- <img src="" alt="picture" /> -->
      <div class="box">
        <img class="" src="../../../assets/me-removebg.png" />
      </div>
    </div>
  </div>
</div>
