<div class="container zeroTop lead">
  <div class="row d-flex justify-content-center">
    <h2 class="mt-2 d-flex justify-content-center bold">Projects</h2>
    <i class="mt-1 d-flex justify-content-center bold"
      ><img
        src="../../../assets/project-icon.png"
        style="height: 68px; width: auto"
    /></i>
    <p
      style="width: 200; font-size: large"
      class="mb-3 d-flex justify-content-center"
    >
      my practices
    </p>
    <div
      *ngFor="let project of projects"
      class="col-lg-3 col-md-3 col-12 d-flex justify-content-center mt-2"
    >
      <div class="card ml-3 mt-2" style="width: 18rem; height: 100%">
        <div id="box" class=""></div>
        <div class="card-body">
          <h5 class="card-title">
            {{ project.name }}
            <i
              ><img src="{{ project.src }} " style="height: 30px; width: auto"
            /></i>

            <i><img src="{{ project.update }}" /></i>
          </h5>
          <p class="card-text">
            {{ project.about }}
          </p>

          <a href="{{ project.link }}" class="btn">view on github</a>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-2 col-md-2"></div> -->
    <!-- <div class="col-lg-3 col-md-3 col-12 d-flex justify-content-center">
      <div class="card ml-3 mt-2" style="width: 18rem">
        <div id="box"></div>
        <div class="card-body">
          <h5 class="card-title">
            Protfolio
            <i
              ><img
                src="../../../assets/resume.png"
                style="height: 30px; width: auto"
            /></i>
          </h5>
          <p class="card-text">
            Creative Portfolio Showcasing Design Excellence and Innovation as a
            Fresher.
          </p>
          <a href="#" class="btn">view on github</a>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-lg-3 col-md-3 col-12 d-flex justify-content-center">
      <div class="card ml-3 mt-2" style="width: 18rem">
              <div id="box"></div>
        <div class="card-body">
          <h5 class="card-title">
            CURD
            <i
              ><img
                src="../../../assets/2559486.png"
                style="height: 30px; width: auto"
            /></i>
          </h5>
          <p class="card-text">
            CRUD Operations: Leveraging Data Management Skills for Optimal
            Results.
          </p>
          <a
            href="https://github.com/GautamYadav19/Employe-application.git"
            class="btn"
            >view on github</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-12 d-flex justify-content-center">
      <div class="card ml-3 mt-2" style="width: 18rem">

        <div id="box"></div>
        <div class="card-body">
          <h5 class="card-title">
            E-commerce
            <i
              ><img
                src="../../../assets/39574242-e-commerce-icon.webp"
                style="height: 35px; width: auto"
            /></i>
          </h5>
          <p class="card-text">
            E-Commerce Site Operations Specialist: Streamlining Online Retail
            Operations for Success.
          </p>
          <a href="#" class="btn">view on github</a>
        </div>
      </div>
    </div> -->
  </div>
</div>
