<div class="container zeroTop lead">
  <div class="row d-flex justify-content-center">
    <h2 class="mt-2 d-flex justify-content-center bold">Projects</h2>
    <i class="mt-1 d-flex justify-content-center bold"
      ><img
        src="../../../assets/project-icon.png"
        style="height: 68px; width: auto"
    /></i>
    <p
      style="width: 200; font-size: large"
      class="mb-3 d-flex justify-content-center"
    >
      my practices
    </p>
    <h6 style="text-align: center">
      <a href="https://github.com/GautamYadav19">
        <i class="bi bi-github">GitHub</i>
      </a>
    </h6>
    <!-- <div
      *ngFor="let project of projects"
      class="col-lg-3 col-md-3 col-12 d-flex justify-content-center mt-2"
    >
      <div class="card ml-3 mt-2" style="width: 18rem; height: 100%">
        <div id="box" class="">
          <i
            ><img src="{{ project.src }} " style="height: 30px; width: auto"
          /></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            {{ project.name }}
            <i
              ><img src="{{ project.src }} " style="height: 30px; width: auto"
            /></i>

            <i><img src="{{ project.update }}" /></i>
          </h5>
          <p class="card-text">
            {{ project.about }}
          </p>

          <a href="{{ project.link }}" class="btn">view on github </a>
        </div>
      </div>
    </div> -->
    <!--  -->
    <div
      *ngFor="let project of projects"
      class="col-lg-3 col-md-3 col-12 d-flex justify-content-center mt-2"
    >
      <div class="card ml-3 mt-2" style="width: 18rem; height: 100%">
        <div class="card-body">
          <h5 class="card-title">
            <i
              ><img
                src="{{ project.src }} "
                style="
                  height: auto;
                  width: 30%;
                  margin-left: 3%;
                  margin: 18%;
                  margin-left: 31%;
                "
            /></i>
          </h5>
          <h5 class="card-title">
            {{ project.name }} <i><img src="{{ project.update }}" /></i>
          </h5>
          <p class="card-text">{{ project.about }}.</p>
          <a href="{{ project.link }}" class="btn">view on github </a>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
