<div class="container zeroTop">
  <div class="row">
    <h2 class="d-flex justify-content-center">Contact Me</h2>
    <p class="d-flex justify-content-center">Get in touch</p>
    <div
      *ngIf="error"
      style="text-align: center"
      class="alert alert-danger"
      role="alert"
    >
      Please fill correct inputs
    </div>
    <div *ngIf="submitted" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
    <div
      style="text-align: center"
      *ngIf="messageSend"
      class="alert alert-primary"
      role="alert"
    >
      Done !!
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4 col-md-6 col-12 lead">
      <div>
        <h4 (click)="callme()"><i class="bi bi-telephone"></i> Call Me :</h4>
        <p (click)="callme()">+91 9410011857</p>
      </div>
      <div>
        <h4 (click)="mailme()">
          <i
            ><img
              src="../../../assets/email-transformed.jpeg"
              style="height: 50px; width: auto; mix-blend-mode: multiply" /></i
          >Email :
        </h4>
        <p (click)="mailme()">gautamyadav1992002@gmail.com</p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-12">
      <form [formGroup]="contactform" (submit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-12">
            <!-- <label for="inputEmail4"> Email</label> -->
            <input
              class="form-control"
              type="email"
              id="inputEmail4"
              placeholder="Enter Your Email"
              formControlName="senderEmail"
            />
          </div>
          <div class="form-group col-md-12">
            <!-- <label for="name">Name</label> -->
            <input
              type="name"
              class="form-control"
              id="name"
              placeholder="Enter your name"
              formControlName="name"
            />
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="message">Message</label> -->
          <textarea
            rows="5"
            class="form-control"
            id="message"
            placeholder="Enter your message"
            formControlName="message"
          ></textarea>
        </div>
        <button class="mybtn mb-3 mt-3">
          Send Message <i class="bi bi-cursor"></i>
        </button>
        <!-- <div class="mybtn mb-3 mt-3">
          Send Message <i class="bi bi-cursor"></i>
        </div> -->
      </form>
    </div>
    <div class="col-lg-1 col-md-1"></div>
  </div>
</div>
